* {
    margin: 0px;
}
body {
    background: rgb(10, 35, 163);
    background: radial-gradient(
        circle,
        rgba(10, 35, 163, 1) 32%,
        rgba(96, 44, 55, 1) 100%
    );
}

#container {
    width: 35em;
    height: 25em;
    background-color: rgba(255, 255, 255, 0.293);
    padding: 3em;
    border-radius: 2em;
    margin: 1em auto 10px auto;

    display: grid;
}

.item {
    box-sizing: border-box;
    width: 9em;
    height: 9em;
    background-color: rgb(46, 201, 149);
}

#item1 {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
}
#item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
}
#item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
}
#item4 {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
#item5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#item6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#stats {
    box-sizing: border-box;
    width: 15em;
    background-color: rgba(255, 255, 99, 0.281);
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    margin: 0px auto 0px auto;
    text-align: center;
    color: black;
}
